.bar{

	background: #F5F5DC;
	height:60px;
	padding-top: 5px;
	}
	h1{
		font-family:'Tangerine', serif;
		font-size:80px;}
body{
	background:gray;
	}

.bar ul{
	margin-top:10px;
	}

.bar ul li{
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform:uppercase;
	display:inline;
	padding:20px;
	font-size: 20px;

	}

.bar a{
	color:black;
	text-decoration: none;
      }

.bar a:hover{

	text-decoration: underline;
   }

.wrap img{
	width:960px;
	height:450px;

		}

	.grid_6 {
			box-sizing: border-box;
			padding :10px;

	 width:470px;
	 height: 400px;

		}

	 .grid_6 img {
		 width:300px;
		 height:300px;
		 margin-left: 35px;
		 border:1px solid;
		 border-radius: 15px;
		 margin-top: 25px;
	 }
	.primary{
	    background: gray;
	  }



.header{
	background: #F0E68C;
	margin:0px;
	text-align:center;
	padding:8px;
	}
section .h6{
	margin-top: 20px;
	font-family: 'Open Sans';
	color:black;
	font-size:18px
}

section img:hover {

border: 3px solid black;

}

.foot{
	background:black;
	font-style:bold;
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	position:relative;
	text-decoration: none;
	left:20px;
}



    footer{

      position:relative;
			top:35px;
      bottom:0px;
     height:80px;
     background:black;
     padding-top:20px;
font-family: 'Open Sans', sans-serif;
     }
   .foot1{
   clear:both;
   background: white;
   text-align:center;
   margin-top:80px;
   }
 footer img{
 height:35px;
 width:35px;

 }
