.bar{

	margin-top:10px;
	background: #D2691E;
	height:50px;
	padding-top: 5px;
	}

body{
	background:black;
	}

.bar ul{
	margin-top:10px;
	}

.bar ul li{
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform:uppercase;
	display:inline;
	padding:20px;
	font-size: 20px;
	text-color:green;
	}

 a{
	color:black;
	text-decoration: none;
      }

 a:hover{
	color:white;
	text-decoration: underline;
   }





.wrap img{
	width:960px;
	height:450px;
		}

section div{
	font-family: 'Open Sans';
	color:black;
	text-indent: 25px;
	padding:10px;
	background: khaki;
	font-style:italic;

	font-size:17px;
	}

	section div ul{
		font-family: 'Open Sans';
	display:inline;
	font-size:18px;
	font-style:bold;
	color:black;
	list-style-type:square; }

section div a:hover{
	color:red;
}
.header{
	background: #F0E68C;
	margin:0px;
	height:160px;
	text-align:center;
	padding:8px;
	}

.header img{
	margin-top: 20px;
	margin-left: 20px;
	width:110px;
	height:110px;
	float:left;
	}

h1{
	font-family:'Tangerine', serif;
	font-size:120px;}

	.middle,.middle1{
	width:300px;
	 height:280px;
			 	}

.middle1{
	position:relative;
	bottom:40px;}

	.grid_4 img{
	 width:320px;
	 height:300px;
			}

.grid_8 img{
	 width:640px;
	 height:300px;
		}

.breaker{
				color:black;
		padding-top:18px;
		height:160px;
		background: #D2691E;

		float:left;
		width:960px;
		text-align:center;
		font-style: italic;
		}
.breaker h2{
		font-size: 60px;
		font-family:'Tangerine', serif;
}
.foot{
	background:#D2691E;
	font-style:bold;
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	position:relative;
	text-decoration: none;
	left:20px;
}

    footer{
      position:relative;
      bottom:40px;
     height:120px;
     background:#D2691E;
     padding-top:20px;
		 font-family: 'Open Sans', sans-serif;
		 font-size: 35px;

     }
   .foot1{
		 font-family: 'Open Sans', sans-serif;
		 color:green;
   clear:both;
   background: white;
   text-align:center;
   margin-top:80px;
   }

 footer img{
 height:35px;
 width:35px;

 }
