.bar {
	background: #F5F5DC;
	height:40px;
	padding-top: 5px;
	position: fixed;
	width: 1360px;
}
.bar a:hover{
	color:gray;
}
h1 {
	font-family:'Tangerine', serif;
	font-size:80px;
}

body{
	background:gray;
}

.bar ul{
	margin-top:5px;
	margin-left: 200px;
	margin-bottom: 10px;
	}

.bar ul li{
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform:uppercase;
	display:inline;
	padding:20px;
	font-size: 20px;
	}

.bar a{
	color:black;
	text-decoration: none;
      }

.bar a:hover{
	text-decoration: underline;
   }

.wrap img{
	width:960px;
	height:450px;
		}

.grid_6 {
			box-sizing: border-box;
			padding :10px;
	 width:470px;
	 height: 400px;
		}

	.grid_6 img {
		 width:300px;
		 height:300px;
		 margin-left: 35px;
		 border:1px solid;
		 border-radius: 15px;
		 margin-top: 25px;
	 }
 .sech6{
	 margin-top:22px; font-family: 'Open Sans';	color:black; font-size:18px;
 }
.primary{
	    background: gray;
	  }

.header{
	background: #F0E68C;
	margin:0px;
	text-align:center;
	padding:8px;
	margin-top: 45px;
	}
.secimg{
	position:relative;left:85px;
}
section .head{
	margin-top: 20px;
	font-family: 'Open Sans';
	color:black;
	font-size:18px
  }

section img:hover {
border: 3px solid black;
 }

.foot{
	font-style:bold;
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	position:relative;
	text-decoration: none;
	left:20px;
 }
.foot a{
	color:white;
}
footer{
      position:relative;
			top:35px;
      bottom:0px;
     height:80px;
     background:#20252A;

     padding-top:20px;
     font-family: 'Open Sans', sans-serif;
     }
footer a:hover{
	color:black;
}
.foot1{
   clear:both;
   background: white;

   text-align:center;
   margin-top:80px;
   }

footer img{
 height:35px;
 width:35px;
 }
